@mixin themed {
  transition: $transition-theme;
}

@mixin button {
  background: var(--color-brand);
  border: 0;
  transition: $transition-theme;
  border-radius: 3px;
  padding: 5px 10px;
  color: var(--color-brand-darkest-faded);
  appearance: none;
}